:root {
	--color1: #534764;
	--color2: #5d4b62;
	--red1: #d74d63;
	--orange: #d74d63;
	--light1: #f4f4f4;
}

.clearfix::after {
	content: "";
	clear: both;
	display: block;
}

.xScroll::-webkit-scrollbar-track {
	border-radius: 8px;
	background-color: var(--color1);
}

.xScroll::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
	background-color: var(--color1);
}

.xScroll::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background-color: var(--color1);
}
